*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100%;
}
header{
    background-image: linear-gradient(to right, rgba(122, 125, 255, 1), rgba(30, 32, 126, 0.71)) ;
    padding: 0.7em;
    box-shadow: 0.2em 0 0.5em black;
}
header picture{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
}
main{
    margin-top: 3em;
}
h2{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h2:before, h2:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #B8B8B8;
    margin: auto;
}
#container{
    display: flex;
    column-gap: 8em;
    row-gap: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7em 5em;
}
a{
    display: flex;
    gap: 0.5em;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 2em 1em;
    background-color: #EEEEEE;
    min-width: 6cm;
    min-height: 60px;
    border-radius: 1em;
    box-shadow: 2px 2px 8px #6e6e6e;
    width: 5em;
}
p{
    text-align: center;
}
footer{
    background-image: linear-gradient(to right, rgba(122, 125, 255, 1), rgba(30, 32, 126, 0.71)) ;
    padding: 2em 0;
    min-width: 100%;
    position: fixed;
}