*{
    margin: 0;
    padding: 0;
}
body{
    /*min-height: 100%;*/
    height: 1vh;
}

header{
    background-image: linear-gradient(to right, rgba(122, 125, 255, 1), rgba(30, 32, 126, 0.71)) ;
    padding: 0.7em;
    box-shadow: 0.2em 0 0.5em black;
}
header a{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
}
main{
    margin-top: 3em;
}
h2{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h2:before, h2:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #B8B8B8;
    margin: auto;
}
#container{
    display: flex;
    column-gap: 8em;
    row-gap: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7em 5em;
}
main a{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 2em 1em;
    background-color: #EEEEEE;
    min-width: 6cm;
    min-height: 60px;
    border-radius: 1em;
    box-shadow: 2px 2px 8px #6e6e6e;
    width: 5em;
}
p{
    text-align: center;
    display: block;
    width: 8em;
    margin-right: 1em;
}



footer{
    background-image: linear-gradient(to right, rgba(122, 125, 255, 1), rgba(30, 32, 126, 0.71)) ;
    padding: 2em 0;
    min-width: 100%;
    /* position: fixed; */
}



/* Responsividade */
@media (min-width: 810px){
    main a{
        max-width: 10em;
        max-height: 30px;
    }
}
@media (max-width: 810px){
    main a{
        min-width: 10em;
        min-height: 30px;
    }
    a p{
        font-size: 0.8em;
    }
    main a img{
        height: 40px;
        max-width: 3.2em;
    }
    img#gov{
        height: 27px;
    }
    h2{
        font-size: 1em;
    }
    h1{
        font-size: 1em; 
    }
    #container{
        margin: 4em 6em;
    }
}
@media (max-width: 705px){
    header a img{
        height: 50px;
    }
    main a{
        min-width: 10em;
        min-height: 20px;
    }
    #container{
        margin: 4em 4em;
        row-gap: 2em;
        column-gap: 6em;
    }
}
@media (max-width: 610px){
    header a img{
        height: 40px;
    }
    main a{
        min-width: 8em;
        min-height: 20px;
        
    }
    #container{
        margin: 4em 4em;
        row-gap: 2em;
        column-gap: 4em;
    }
    main a img{
        height: 30px;
        max-width: 3.2em;
    }
    img#gov{
        height: 15px;
    }
    img#sougov{
        width: 30px;
    }
    h2{
        font-size: 1em;
    }
    h1{
        font-size: 1em; 
    }
    main a p{
        font-size: 0.6em;
    }

}
@media (max-width: 550px){
    main a{
        min-width: 8em;
        min-height: 20px;
        
    }
    #container{
        margin: 4em 1em;
        row-gap: 1em;
        column-gap: 2em;
    }
}
@media (max-width: 385px){
    main a{
        min-width: 6em;
        min-height: 15px;
        
    }
    #container{
        margin: 4em 1em;
        row-gap: 1em;
        column-gap: 1em;
    }
    main a img{
        height: 25px;
        max-width: 3em;
    }
    img#gov{
        height: 15px;
    }
    main a p{
        font-size: 0.6em;
        margin: 0 -1em;
    }
}